<launch>
    <arg name="map" default="2ndfloor_firsthalf_full.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(find warmup)/maps/$(arg map)" output="screen"/>
    <node pkg="amcl" type="amcl" name="particle_filter" output="screen"/>
    <node name="color_detect_node" pkg="warmup" type="color_detect"/>
</launch>
